<h3>Carte de Fidélité</h3>
<hr>
<br>
<p style='text-align: justify'>Notre Système de fidélité repose sur une carte de fidélité qui vous à chaque passage een caisse, de cumuler des euros fleuris. Utilisez ces euros fleuris pour vos prochains achats dans notre magasin.</p>
<br>
<br>
<p style='text-align: justify'>Demandez votre carte au magasin. Soumit à des conditions. </p>
