<ul>
  <li> <%= link_to "Accueil", root_path %></li>
  <li> <%= link_to "composition", root_path %></li>
  <li> <%= link_to "Évènement", root_path %></li>
  <li> <%= link_to "Contact", root_path %></li>
</ul>

<h1>Coucou c'est la Home de Florist</h1>

