<div class="compositions-section-1">
  <div class="compositions-s1-left">
    <h2>Commandez et faites vous livrer en points relais</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <div class="compositions-s1-right">
    <div class="image">Image</div>
  </div>
</div>
<div class="compositions-section-2">
  <div class="card-wrap">
    <% @compositions.each do |composition| %>
      <%= link_to new_composition_order_path(composition) do %>
      <%#= link_to new_order_path(composition) do %>
      <%#= link_to composition_path(composition) do %>
        <div class="green-border-card">
          <%= cl_image_tag composition.photo_title, alt: "photo_title" %>
          <h3><%= composition.name %></h3>
          <div class="card-price">
            <p><%= composition.price %>€</p>
          </div>
          <p>à partir de</p>
          <div class="green-square"></div>
        </div>
      <% end %>
    <% end %>
    <!-- <a href="#">
      <div class="green-border-card">
        <%#=image_tag('bouquet3')%>
        <h3>Nom du bouquet</h3>
        <div class="card-price">
          <p>30€</p>
        </div>
        <p>à partir de</p>
        <div class="green-square"></div>
      </div>
    </a>  -->
  </div>
</div>
