<h1>Page Show de Composition</h1>

<%= image_tag @composition.get_image_tag, alt: "#{@composition.photo_title}" %>
<br>
<%= @composition.name %>
<br>
<%= @composition.price %>
<br>
<%= @composition.disponibility %>
<br>
