/*
 *= require_tree .
 */
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  padding: 25px;
}

li {
  list-style: none;
}

/* NAVBAR */

#navbar img {
  height: 75px;
}

#navbar {
  padding: 10px 25px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page_links {
  display: flex;
}

.page_links a {
  font-family: poppins;
  font-weight: 300;
  width: 150px;
  height: 35px;
  text-align: center;
  border-bottom: 1px solid black;
  position: relative;
}

.page_links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  height: 5px;
  width: 0px;
  margin-top: 31px;
  transition: linear .4s;
}

.page_links a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  height: 4px;
  width: 150px;
  margin-top: 31px;
}

.page_links a:hover{
  color: red;
  transition: linear .3s;
}

/* FOOTER */

footer {
  border: 2px solid black;
  text-align: center;
  font-family: poppins;
  font-weight: 200;
}

footer > p {
  padding: 20px 0;
}

.placing_footer {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 15px;
}

.footer {
  text-align: center;
}

.footer li {
  font-family: poppins;
  font-weight: 300;
  padding: 8px 16px;
}

.footer li:hover {
  color: white;
  background-color: red;
  transition: .3s ease;
}

@media screen and (max-width: 600px) {
  .placing_footer {
    flex-direction: column;
  }
}

/*footer {
  position: relative;
  border: 2px solid yellow;
}*/

/*.placing_footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  bottom: 0px;
  width: 100%;
  height: 50px;
}*/

/*.footer {
  width: 30%;
}*/

