/* GLOBALE */
/*

 *= require_tree .
 */
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.spacing-page {
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

/* NAVBAR */

#navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #fff;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 25px;
  margin-bottom: 15px;
}

#logo_header {
  justify-content: left;
}

#logo {
  display: none;
}

#logo_fdp {
  display: none;
}

#logo_inline {
  width: 250px;
}

.page_links {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

.page_links a {
  font-family: poppins;
  margin: 0px 20px;
  font-weight: 300;
  /*width: 110px;*/
  display: flex;
  position: relative;
  justify-content: center;
}

.page_links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  height: 5px;
  width: 0px;
  margin-top: 31px;
  transition: linear .4s;
}

.page_links a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  height: 4px;
  width: 100%;
  margin-top: 31px;
}

.page_links a:hover{
  color: red;
  transition: linear .3s;
}

/* FOOTER */

footer {
  text-align: center;
  font-family: poppins;
  font-weight: 200;
}

.placing_footer {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 15px;
}

.footer {
  text-align: center;
}

.footer li {
  font-family: poppins;
  font-weight: 300;
  padding: 8px 16px;
}

.footer li:hover {
  color: white;
  background-color: red;
  transition: .3s ease;
}

.part_0 {
  flex: 0 0 250px;
  text-align: center;
}

.part_0 img {
  height: 7em;
  padding-bottom: 10px;
}

.part_0 > p {
  max-width: 300px;
  font-size: 10px;
  font-weight: light;
  margin: auto;
}

@media screen and (max-width: 850px) {
  #logo_inline {
    display: none;
  }
}

@media screen and (min-width: 700px) and (max-width: 850px) {
  #logo_fdp {
    display: flex;
    height: 75px;
  }
}

@media screen and (max-width: 700px) {
  #navbar {
    height: 100px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 85px;
    border-bottom: 1px solid black;
  }

  #logo_header {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .page_links {
    display: none;
  }

  #logo_fdp {
    display: none;
  }

  #logo {
    display: flex;
    height: 75px;
  }

  .placing_footer {
    flex-direction: column;
  }

  .part_0 {
    margin-bottom: -20px;
  }
}
