.compo-section-1 {
  display: flex;
  padding: 25px 0px;
}

.compo-s1-left {
  width: 50%;
  padding-right: 10px;
  text-align: justify;
  align-self: center;
}

.compo-s1-right{
  display: flex;
  background-color: lightgray;
  width: 50%;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 300px;
}
