/* Section 1 */

h1 {
  font-family: poppins;
  font-weight: 500;
  font-size: 2em;
}

h2 {
  font-family: poppins;
  font-weight: 500;
  font-size: 1.5em;
  padding-bottom: 20px;
}

.bck-img {
  background-image: asset-url('background-sec1.jpg');
  /*background-image: linear-gradient(45deg,
    rgba(0, 0, 0, .4) 0%,
    rgba(0, 0, 0, .4) 100%),
  asset-url('background-sec1.jpg');*/
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 16px;
  /*transition: background-color 1s;*/
}

.inner-text {
  color: white;
  filter: drop-shadow(0px 0px 2px black);
  display: flex;
  line-height: 1.5em;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  padding-left: 10%;
}

  /* SECTION 2*/

.home-section-2 {
  display: flex;
  padding: 25px 0px;
}

.home-s2-left {
  width: 50%;
  padding-right: 10px;
  text-align: justify;
  align-self: center;
}

.home-s2-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-self: center;
  align-items: center;
  /*height: 300px;*/
}

  /* SECTION 3 */

.home-section-3 {
  width: 100%;
  background-color: #e6e7df;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  display: flex;
  padding: 75px 0px;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.card-wrap > img {
  /*width: 100%;*/
  /*height: 100%;*/
  min-width: 100px;
  max-width: 300px;
}

.green-border-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  height: 350px;
  width: 230px;
  border: 2px solid #d5d5d591;
  border-radius: 28px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px gray;
}

.green-border-card > h3 {
  padding: 0px 10px;
  margin-bottom: 5px;
}

.green-border-card img {
  box-sizing: border-box; /* Forcer l'image à être dans la card */
  display: flex;
  height: 250px;
  z-index: 2;
  border-radius: 25px 25px 0px 0px;
  margin-bottom: 10px;
}

.green-square {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 103px;
  border-radius: 0px 0px 25px 25px;
  background-color: #d5d5d591;
  transition: all .4s linear;
}

.card-wrap > a:hover {
  .green-square {
    position: absolute;
    bottom: -0;
    width: 100%;
    height: 350px;
    border-radius: 25px;
    background-color: #88BF47;
    box-shadow: 0px 0px 10px green;
  }

  .green-border-card > h3 {
    color: white;
  }

  .green-border-card > p {
    color: white;
  }

  .card-price {
    color: white;
  }

  .green-border-card {
    border: 2px solid #88BF47;
  }
}

h3 {
  z-index: 2;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  /*font-family: poppins;*/
  /*font-weight: 600;*/
  font-size: 1.6em;
}

.card-price {
  text-align: center;
  z-index: 2;
  /*font-family: poppins;*/
/*  font-weight: 500;
  font-size:  1.7em;*/
  font-family: 'Dancing Script';
  font-size: 1.7em;
}

.green-border-card > p {
  z-index: 2;
  text-align: center;
  font-family: poppins;
  font-weight: 400;
  font-size: .6em;
  line-height: .2;
}

  /* SECTION 4 */

.home-section-4 {
  border: 2px solid black;
  border-radius: 30px;
  width: 100%;
  margin: 20px 0;
  display: flex;
  padding: 25px 0px;
}

.home-s4-left {
  /*flex-grow: 2;*/
  width: 65vw;
  padding-left: 20px;
  padding-right: 10px;
  text-align: justify;
}

.home-s4-left p {
  padding-right: 2em;
  margin-bottom: 4em;
}

.feed-fb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-s4-right {
  flex-grow: 1;
  padding-right: 20px;
  margin: auto;
  padding-top: 50px;
}

.fb-page {
  flex-grow: 1;
  height: 500px;
  overflow: hidden;
}

.fb_iframe_widget {
  box-shadow: 5px 5px 10px #D7E25E;
}

  /* SECTION 5 */

.home-section-5 {
  display: flex;
  border: 2px solid black;
  border-radius: 30px;
  margin: 20px 0;
  width: 100%;
  padding: 25px 0px;
}

.home-s5-left {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  flex-grow: 1;
  width: 30%;
}

.home-google {
  justify-content: center;
  /*display: flex;*/
}

.home-s5-right {
  margin: auto;
  padding-right: 20px;
  flex-grow: 1;
  width: 0%;
  display: flex;
}

.home-s5-right > img {
  border-radius: 16px;
  height: 400px;
  margin-left: 25px;
}

/*.gmap_canvas iframe {
  width:100%;
  height:100%;
}

.gmap_canvas {
  width: 100%;
}*/

.h_iframe iframe {
  width:100%;
  /*height:calc(100% - 75px);*/
  height: 350px;
}

.h_iframe {
  height: 100%;
}

@media screen and (max-width: 800px) {
  .home-section-4 {
    flex-direction: column;
  }

  .home-s4-left {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-s4-right {
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-section-5 {
    text-align: center;
  }

  .home-s5-right {
    display: none;
  }

  #gmap_canvas {
    width: 90vw;
  }

  .home-s5-left {
  padding-left: 0px
  }

}
