<h1 style="text-align:center;font-size:1em">Page index Évènement</h1>

<div class="event-section e-s1">
  <div class="event-s1-left">
    <div class="image">Image</div>
  </div>
  <div class="event-s1-right">
    <h2>Titre / Accroche</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
</div>

<div class="event-section e-s2">
  <div class="realisation-wrap">
    <%= cl_image_tag('rea1_baqtwj') %>
    <%= cl_image_tag('rea2_rmkxlu') %>
    <%= cl_image_tag('ea3_qoubkq') %>
    <%= cl_image_tag('rea4_vrtvi5') %>
  </div>
</div>

<div class="event-section e-s3">
  <p>Nous couvrons tout types d’évènements : Anniversaire, mariage, communion, enterrement. Étant des occasions particulières et uniques, veuillez nous contacter suivant le formulaire ou en appelant le numéro ci-dessous.</p>
</div>
